.container {
    width: 100%;
    marign: 0 auto;
}

header {
    background: #55d6aa;

}

header::after {
    content: '';
    display: table;
    clear: both;
}
.logo{
    float: left;
    padding: 0 0;
}

nav {

    display: flex;
    justify-content: space-around;
}

nav a {
    padding: 0;
    margin: 15px 0 0 70px;
    color: #444;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
}

@media (max-width: 600px){
    nav a {
        padding: 0;
        margin: 15px 0 0 20px;
        color: #444;
        text-decoration: none;
        text-transform: uppercase;
    }
}


nav a:hover{
    color: #FFFFFF;
    float: right;
}

.logging-in{
    display: flex;
    justify-content: space-around;

}
