{% extends "base.html" %}
{% block title %}
    Pizzernia
{% endblock %}
{% block body %}
    {% for order in order.all %}
        <h1>{{ order.user }}'s cart</h1>
        <p>Wartość zamówienia: {{ order.value }}</p>
        {% if order.items.all %}
            {% for item in order.items.all %}
            <p class="name"> {{ item }} </p>
{#            </p><a href="{{ item.item.get_remove_from_cart_url }}">remove from cart</a>#}
{#                <a href="{{ item.item.get_decrease_quantity_url }}">  minus</a>#}
{#                <a href="{{ item.item.get_add_to_cart_url }}">  plus</a>#}
                <br>
            {% endfor %}
        {% else %}
            <h3>is empty</h3>
        {% endif %}
    {% endfor %}
{% endblock %}