{% extends "base.html" %}
{% block title %}
    Pizzernia-menu
{% endblock %}
{% block body %}
    {% load static %}
    <script src="{% static 'orders/cart.js' %}"></script>
    <h1>Menu</h1>
    <table>
        <tr>
            {% for item in object_list %}
                <th><a href="#">{{ item.get_category_display }}</a></th>
            {% endfor %}
        </tr>
        <tr>
            <th>Name</th>
            <th>Small</th>
            <th>Large</th>
        </tr>
        {% for item in object_list %}
            <tr>
                <th>{{ item }}</th>
                <th>{{ item.small_price }}</th>
                <th>{{ item.large_price }}</th>
                <th>
{#                    I am trying to replace this form with pop up window where user can choose #}
{#                    size of item and get addons/toppings if exists for this kind of product #}
                    <button onclick="itemDetails()">order</button>
                    <form action="{{ item.get_add_to_cart_url }}">
                        <input type="submit" value="add to cart" />
                    </form>
                </th>
            </tr>
        {% endfor %}
    </table>
{% endblock %}