{% extends "base.html" %}
{% block title %}
    Pizzernia-menu
{% endblock %}
{% block body %}
    {% load static %}
    <script src="{% static 'orders/cart.js' %}"></script>
    <h1>Menu</h1>
    <table>
        <tr>
            {% for item in object_list %}
                <th><a href="#">{{ item.get_category_display }}</a></th>
            {% endfor %}
        </tr>
        <tr>
            <th>Name</th>
            <th>Small</th>
            <th>Large</th>
        </tr>


                {% for item in object_list %}
{#                    raw html form with hidden value#}
                    <form action="{% url 'orders:item_details' item.slug %}" method="post">
                    {% csrf_token %}
                    <tr>
                        <th>{{ item }}</th>
                        <th>{{ item.small_price }}</th>
                        <th>{{ item.large_price }}</th>
                        <input type="hidden" value="{{ item.slug }}">
                        <th><input type="submit" value="Order"></th>
                    </tr>
            </form>
        {% endfor %}
    </table>
{% endblock %}